@{
    ViewBag.Title = "Home Page";
}


<script>
    var lineNumber = -1;
    function submit() {
        //debugger;
        if (event.keyCode != 13 || !event.ctrlKey) {
            return;
        }
        var encoded = encodeURIComponent($('#inputBox').val());
        lineNumber++;

        if (encoded.charAt(encoded.length - 1) == "'") {
            var toAppend = $('#inputBox').val();
            $('#results').append($("<div style='padding:10px;word-wrap:break-word;white-space:pre;'/>").append(toAppend.substring(0, toAppend.length - 1)));
            $('#inputBox').val("");
            return;
        }
        if (selected == 'Python') {
            $.ajax({
                url: '@Url.Action("AppendPython")' + '?inputText=' + encoded + '&lineNumber=' + lineNumber,
                type: 'POST',
            }).done(function (data) {


                $('#results').append($("<div style='padding:10px;word-wrap:break-word;white-space:pre;'/>").append(data));
                //debugger;
                //$('#results').append(data);
            });
        } else if (selected == 'C#') {
            debugger;
            $.ajax({
                //url: '@Url.Action("AppendCSharp")' + '?inputText=' + encoded + '&lineNumber=' + lineNumber,
                url: '@Url.Action("AppendCSharp")' + '?lineNumber=' + lineNumber,
                data: encoded,
                type: 'POST',
            }).done(function (data) {
                $('#results').append($("<div style='padding:10px;word-wrap:break-word;white-space:pre;'/>").append(data));
            });
        } else if (selected == 'LaTeX') {
            $.ajax({
                url: '@Url.Action("AppendLatex")' + '?inputText=' + encoded,
                type: 'POST',
            }).done(function (data) {
                $('#results').append($("<div style='padding:10px;word-wrap:break-word;white-space:pre;'/>").append(data));
            });
        } else if (selected == 'XML/JSON') {
            $.ajax({
                url: '@Url.Action("XMLJSON")' + '?inputText=' + encoded + '&lineNumber=' + lineNumber,
                type: 'POST',
            }).done(function (data) {
                debugger;
                var accordian = getAccordianMarkup();

                $('#results').append(accordian);

                $('#dataResult' + lineNumber).append($("<div style='padding:10px;word-wrap:break-word;white-space:pre;'/>").text(data));
            });
            }
}

    

function getAccordianMarkup() {
    return '\
                <div class="panel-group" id="accordion' + lineNumber + '" style="padding:10px">\
    <div class="panel panel-default">\
        <div class="panel-heading">\
            <div class="row">\
                <h4 class="panel-title col-md-1">\
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion' + lineNumber + '" href="#collapse' + lineNumber + '">Show/Hide\
                    </a>\
                </h4>\
            </div>\
        </div>\
        <div id="collapse' + lineNumber + '" class="panel-collapse collapse in">\
            <div class="panel-body" id="dataResult' + lineNumber + '">\
            </div>\
        </div>\
    </div>\
</div>';
}

function deleteLast() {
    lineNumber--;
    $('#results').children().last().remove();
}

function deselect() {
    $('#inputOptions').find('.active').removeClass('active');
}

var selected = "Python";

function select(e) {
    e.addClass('active');
    selected = e.find('a').text();
}

function latex() {
    deselect();
    select($('#latexPill').parent());
}

function cSharp() {
    deselect();
    select($('#cSharpPill').parent());
}

function url() {
    deselect();
    select($('#urlPill').parent());
}

function python() {
    deselect();
    select($('#pythonPill').parent());
}

function xaml() {
    deselect();
    select($('#xamlPill').parent());
}

function xmlJson() {
    deselect();
    select($('#xmlJsonPill').parent());
}
</script>




<div style="float: right; width: 200px">
    <ul class="nav nav-pills nav-stacked" id="inputOptions">
        <li><a href="#" onclick="cSharp()" id="cSharpPill">C#</a></li>
        <li class="active"><a href="#" onclick="python()" id="pythonPill">Python</a></li>
        <li><a href="#" onclick="xaml()" id="xamlPill">XAML</a></li>
        <li><a href="#" onclick="latex()" id="latexPill">LaTeX</a></li>
        <li><a href="#" onclick="xmlJson()" id="xmlJsonPill">XML/JSON</a></li>
    </ul>
</div>


<div id="results">
</div>

<div style="float: left">
    <div style="width: 700px">
        <textarea class="form-control" id="inputBox" onkeydown="submit()"></textarea>
        @*<input type="text" class="form-control" id="inputBox" onkeydown="submit()">*@
    </div>
    <button style="float: left" onclick="deleteLast()">Delete</button>

</div>
